{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="itf-8">
    
    <title>ログイン画面</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'eventmap/css/style.css' %}" />
    <body class="text-center">
        
        <div class="container"> 
             
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <h2>Login</h2>
                            <form class="form-signin" method="POST">
                            
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group" >
                                {{ field }}
                            </div>
                            {% endfor %}
                
                            {% for error in form.non_field_errors %}
                            <div class="text-center">
                            <div class="alert alert-danger" role="alert">
                                <p>{{ error }}</p>
                            </div>
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-block btn-flat">ログイン</button>
                            <br>
                            <a href="{% url 'entry' %}"><p mt-2>ユーザー登録はこちら(無料)</p></a>
                            </form>
                        </div> 
                    </div>
                </div>    
        </div>
    </body>



</head>
</html>